.App {
  max-width: 700px;
  margin: 30px auto;
  margin-top: 80px;
}

.App footer {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}
