.App {
  max-width: 700px;
  margin: 200px auto;
}

body {
  background-image: url("./clouds.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.App footer {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
}

.App footer a {
  text-decoration: none;
}
