.Weather {
  border: 1px solid #fcfefe;
  font-family: "Wix Madefor Display", Tahoma, Geneva, Verdana, sans-serif;
  color: #393e46;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(180, 174, 174, 0.2);
}

.Weather h1 {
  font-size: 30px;
  margin: 20px 0 0 0;
  font-weight: 100;
  line-height: 35px;
  margin-bottom: 4px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 14px;
  font-weight: none;
  line-height: 20px;
  list-style: none;
}

.Weather .temperature {
  color: #202124;
  font-weight: 400;
  font-size: 64px;
  font-family: "Wix Madefor Display", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 18px;
  margin-left: 2px;
  position: relative;
  top: -32px;
}
